.formItem {
    background-color: white;
    width: 650px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 0px -4px 0px 1px #32a852;
}

@media screen and (max-width: 800px) {
    .formItem {
        width: 80%;
    }
}
