.navPanel {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1;
    background-color: #0000009f;
    color: #ffffff;
    height: 60px;
}

.items {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    align-items: center;
    margin-left: 4vw;
    width: 50%;
    text-transform: uppercase;
}

.rightRow {
    justify-content: flex-end;
}
